@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro');

body {
	padding: 0;
	margin: 0 auto;
    text-align: center;
}

p,h1,h2,h3,h4,li,a {
    font-family: 'Open Sans', sans-sans-serif;
}

.nav {
    line-height: 60px;
}
.nav-link {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #9bc53d;
}

.nav-option {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #9bc53d;
}

#icon {
    /* width: 100%; */
    /* max-width: 300px;  */
}

.menu-icon {
    width: 30px;
}

#navbar {
  padding: 10px 0px;
  background-color: #ffffff;
  /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 3px 0 0 rgba(0, 0, 0, 0.12), 0 2px 0 0 rgba(0, 0, 0, 0.14); */
}

#filter-container {
    background-color: #f5f6f7;
    padding: 16px 0px 2px 0px;
    /* padding-bottom: 8px; */
    /* text-align: left; */
}

#dropdownMenuButton {
    background-color: #ffffff;
    color: #332727;
    border: solid 1px #e6e8ed;
}

.list-inline {
    /* max-width: 80%; */
}
